
<head>
<meta charset="utf-8">
<meta charset="utf-8">

<meta charset="utf-8">
<style type="text/css">
.auto-style18 {
	font-size: 5pt;
	color: #000080;
	font-family: 微軟正黑體;
}
.auto-style28 {
	font-size: x-small;
	color: #000000;
	font-family: 微軟正黑體;
}
.auto-style30 {
	font-size: 50pt;
	font-family: 微軟正黑體;
}
.auto-style31 {
	color: #000000;
	font-family: 華康儷中黑(P);
}
.auto-style33 {
	font-family: 華康儷中黑(P);
}
.auto-style34 {
	text-align: right;
}
</style>
</head>

<p class="auto-style18"></p>
<p class="auto-style28">
<img alt="" height="89" src="../0514/public_html/pic/B9398801-468D-4F29-A85F-BFCE9ADCD436.png" width="283"></p>
<p class="auto-style28">
&nbsp;</p>
<p class="auto-style28"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
<table style="width: 100%">
	<tr>
		<td>&nbsp;</td>
		<td class="auto-style30"><strong>01&nbsp;</strong></td>
		<td class="auto-style30"><strong>02&nbsp;</strong></td>
		<td class="auto-style30"><strong>03&nbsp;</strong></td>
		<td class="auto-style30"><strong>04&nbsp;</strong></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="height: 44px"></td>
		<td style="height: 44px" class="auto-style33"><a href="my.html">
		<span class="auto-style31">個人介紹</span><br class="auto-style31">
		<span class="auto-style31">Personal introduction</span></a></td>
		<td style="height: 44px"><a href="X-4.html"><span class="auto-style31">
		網站練習</span><br class="auto-style31">
		<span class="auto-style31">Website exercises</span></a></td>
		<td style="height: 44px"><a href="personl.html">
		<span class="auto-style31">個人企劃書</span><br class="auto-style31">
		<span class="auto-style31">Personal Project Proposal</span></a></td>
		<td style="height: 44px"><a href="TEAM.html"><span class="auto-style31">團隊企劃書</span><br class="auto-style31">
		<span class="auto-style31">Group proposal</span></a></td>
		<td style="height: 44px"></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
		<img alt="" height="250" src="../0514/public_html/pic/111111111.jpg" width="316" class="auto-style33"><span class="auto-style33">&nbsp;</span></td>
		<td>
		<img alt="" height="250" src="../0514/public_html/pic/22222222222.jpg" width="312" class="auto-style33"><span class="auto-style33">&nbsp;</span></td>
		<td>
		<img alt="" height="250" src="../0514/public_html/pic/33333333333.jpg" width="312" class="auto-style33"><span class="auto-style33">&nbsp;</span></td>
		<td>
		<img alt="" height="250" src="../0514/public_html/pic/4444444444.jpg" width="312" class="auto-style33"><span class="auto-style33">&nbsp;</span></td>
		<td>&nbsp;</td>
	</tr>
</table>



<p>&nbsp;</p>
<p class="auto-style34">1411322014 黃玟潔&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
</p>




