<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="zh-tw" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>個人介紹</title>
<style type="text/css">
.auto-style3 {
	font-family: 華康中黑體(P);
	font-size: 25pt;
	text-align: center;
}
.auto-style7 {
	font-size: large;
	font-family: 華康中黑體(P);
	color: #304264;
}
.auto-style8 {
	font-size: 20pt;
	font-family: 華康中黑體(P);
	color: #000000;
	text-align: center;
}
.auto-style9 {
	font-family: 華康中黑體(P);
	color: #000000;
	text-align: center;
}
.auto-style10 {
	color: #000000;
}
.auto-style11 {
	font-family: 華康中黑體(P);
	font-size: x-large;
	color: #000000;
}
.auto-style12 {
	font-size: 93pt;
	font-family: Impact;
	color: #000000;
	text-align: center;
}
.auto-style17 {
	font-family: 微軟正黑體;
	font-size: x-large;
	color: #000000;
}
.auto-style20 {
	font-size: 40pt;
	font-family: 微軟正黑體;
	color: #000000;
	text-align: center;
}
.auto-style21 {
	font-size: large;
	font-family: 華康中黑體(P);
	color: #000000;
}
.auto-style22 {
	text-align: center;
}
.auto-style23 {
	font-family: 華康中黑體(P);
	font-size: x-large;
	color: #000000;
	text-align: center;
}
.auto-style24 {
	font-size: x-large;
	font-family: 微軟正黑體;
	color: #000000;
	text-align: center;
}
.auto-style26 {
	font-size: xx-small;
	font-family: Impact;
	color: #000000;
	text-align: center;
}
</style>
</head>

<body>

<p class="auto-style26">&nbsp;</p>
<p class="auto-style12">&nbsp;Personal introduction</p>
<p class="auto-style24">1411322014 黃玟潔</p>
<p class="auto-style20">&nbsp;
<img alt="" height="640" src="../0514/public_html/pic/9DC46BBD-7D62-4932-BCDB-FEE8E62334DD.jpg" width="1098" /></p>
<p class="auto-style20"><strong>◆About Me</strong> </p>
<p data-end="291" data-start="175" class="auto-style22"><span class="auto-style17">&nbsp;&nbsp;&nbsp; 
我是<strong>黃玟潔</strong>，就讀於</span><strong data-end="204" data-start="186"><span class="auto-style17">國立臺中科技大學多媒體設計系二年級，</span></strong><br class="auto-style17" data-end="208" data-start="205" />
<span class="auto-style17">&nbsp;&nbsp;&nbsp; 
從小我就喜歡觀察色彩、構圖與光影帶來的情緒變化，這份興趣讓我選擇了設計這條路，</span><br class="auto-style17" data-end="250" data-start="247" />
<span class="auto-style17">&nbsp;&nbsp;&nbsp; 在學習的過程中，我不只希望學會技術，更想用設計去</span><strong data-end="288" data-start="274"><span class="auto-style17">傳達故事、情感與溫度，</span></strong></p>
<p data-end="349" data-start="293" class="auto-style22"><span class="auto-style17">&nbsp;&nbsp;&nbsp; 
我相信：「設計不只是視覺的呈現，更是心意的延伸」</span><br class="auto-style17" data-end="321" data-start="318" />
<span class="auto-style17">&nbsp;&nbsp;&nbsp; 希望透過作品，能讓人產生共鳴，留下些許微光般的印象。</span></p>
<p class="auto-style20">&nbsp;</p>
<p class="auto-style20">&nbsp;<strong> ◆Skills </strong></p>
<p data-end="531" data-start="378" class="auto-style22"><span class="auto-style11">&nbsp;&nbsp;&nbsp; 
・Adobe Photoshop / Illustrator — 插畫、排版與視覺設計</span></p>
<p data-end="531" data-start="378" class="auto-style22"><br class="auto-style11" data-end="424" data-start="421" />
<span class="auto-style11">&nbsp;&nbsp;&nbsp; ・Maya — 3D基礎建模</span><br class="auto-style11" data-end="444" data-start="441" />
<span class="auto-style11">&nbsp;&nbsp;&nbsp; </span></p>
<p data-end="531" data-start="378" class="auto-style22">
<span class="auto-style11">・Premiere / After Effects — 
影片剪輯與後製</span><br class="auto-style11" data-end="507" data-start="504" />
<span class="auto-style11">&nbsp;&nbsp;&nbsp;</span></p>
<p data-end="531" data-start="378" class="auto-style22">
<span class="auto-style11">&nbsp;・Procreate — 數位插畫與色彩表現</span></p>
<p data-end="531" data-start="378" class="auto-style20">&nbsp; </p>
<p data-end="531" data-start="378" class="auto-style20">◆Philosophy </p>
<blockquote data-end="948" data-start="847">
	<p class="auto-style23" data-end="948" data-start="849">"Art is the language 
	of feeling."</p>
	<p data-end="948" data-start="849" class="auto-style22">
	<br class="auto-style11" data-end="885" data-start="882" />
	<span class="auto-style11">設計對我來說，是讓無聲的想法被看見的一種方式。</span></p>
	<p data-end="948" data-start="849" class="auto-style22">
	<br class="auto-style11" data-end="911" data-start="908" />
	<span class="auto-style11">我喜歡觀察生活中細小而真實的情緒，並用色彩與構圖將它們記錄下來。</span></p>
	<p class="auto-style9" data-end="948" data-start="849">&nbsp;</p>
	<p class="auto-style9" data-end="948" data-start="849">&nbsp;</p>
	<p class="auto-style9" data-end="948" data-start="849">&nbsp;</p>
	<p class="auto-style9" data-end="948" data-start="849">&nbsp;</p>
	<p class="auto-style9" data-end="948" data-start="849">&nbsp;</p>
	<p class="auto-style9" data-end="948" data-start="849">&nbsp;</p>
	<h3 class="auto-style8" data-end="976" data-start="955">Contact / 聯絡我</h3>
	<p data-end="1118" data-start="977" class="auto-style22">&nbsp;<a class="decorated-link cursor-pointer" data-end="1010" data-start="980" rel="noopener"><span class="auto-style21">pipbi.xm@gmail.com</span><span aria-hidden="true" class="ms-0.5 inline-block align-middle leading-none"><svg class="block h-[0.75em] w-[0.75em] stroke-current stroke-[0.75]" data-rtl-flip="" fill="currentColor" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M14.3349 13.3301V6.60645L5.47065 15.4707C5.21095 15.7304 4.78895 15.7304 4.52925 15.4707C4.26955 15.211 4.26955 14.789 4.52925 14.5293L13.3935 5.66504H6.66011C6.29284 5.66504 5.99507 5.36727 5.99507 5C5.99507 4.63273 6.29284 4.33496 6.66011 4.33496H14.9999L15.1337 4.34863C15.4369 4.41057 15.665 4.67857 15.665 5V13.3301C15.6649 13.6973 15.3672 13.9951 14.9999 13.9951C14.6327 13.9951 14.335 13.6973 14.3349 13.3301Z"></path></svg></span></a><br class="auto-style21" data-end="1013" data-start="1010" />
	<span class="auto-style21">Instagram｜</span><span class="auto-style7"><a href="https://www.instagram.com/pipbi.xm/"><span class="auto-style10">@pipbi.xm</span></a></span><br class="auto-style21" data-end="1066" data-start="1063" />
	<span class="auto-style21">Always open for collaboration &amp; creative ideas.</span></p>
	<p class="auto-style9" data-end="948" data-start="849">&nbsp;</p>
</blockquote>
<p class="auto-style3"><strong><a href="index.htm"><span class="auto-style10">回首頁</span></a></strong></p>

</body>

</html>
